<ion-card (click)="goToTripDetails()">
  <ion-card-header>
    <ion-item id="timeAndOwnerOfTrip">
      <span>{{ 'trip.departure' | translate }}: {{data.time}} </span>
      <ion-chip slot="end">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>{{username}}</ion-label>
      </ion-chip>
    </ion-item>
    <ion-card-title>{{data.from}} <ion-icon name="arrow-forward-outline"></ion-icon> {{data.to}}</ion-card-title>
  </ion-card-header>

    <ion-item>
      <ion-icon name="car" slot="start" id="carIcon"></ion-icon>
      <ion-label >{{ 'trip.availablePlaces' | translate }}: <ion-badge>{{data.availablePlaces}}</ion-badge></ion-label>
      <ion-button fill="outline" slot="end">{{ 'trip.book' | translate }}</ion-button>
    </ion-item>
</ion-card>