<form action="" [formGroup]="changePasswordForm.getForm()" [hidden]=ishidden>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Change Password</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Current Password</ion-label>
        <ion-input type="text" formControlName="currentPassword"></ion-input>
      </ion-item>
      <app-error-message message="Current password is mandatory" [field]="changePasswordForm.getForm().get('currentPassword')" error="required"></app-error-message>
      
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="text" formControlName="password"></ion-input>
      </ion-item>
      <app-error-message message="Password is mandatory" [field]="changePasswordForm.getForm().get('password')" error="required"></app-error-message>
      <app-error-message message="Minimum of 6 characters" [field]="changePasswordForm.getForm().get('password')" error="minlength"></app-error-message>

      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="text" formControlName="repeatPassword"></ion-input>
      </ion-item>
      <app-error-message message="Password and Repeat Password are different" [field]="changePasswordForm.getForm().get('repeatPassword')" error="isntMatching"></app-error-message>
    
    </ion-card-content>
  </ion-card>

  <ion-buttons slot="buttons">
    <ion-button (click)="close()" color="medium">Cancel</ion-button>
    <ion-button (click)="changePassword()" color="primary" fill="solid">Edit profile</ion-button>
  </ion-buttons>
</form>