<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contact</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label>From</ion-label>
          <ion-select class="custom-options" interface="popover">
            <ion-select-option value="brown" class="brown-option">Brown</ion-select-option>
            <ion-select-option value="blonde">Blonde</ion-select-option>
            <ion-select-option value="black">Black</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>To</ion-label>
          <ion-select class="custom-options" interface="popover">
            <ion-select-option value="brown" class="brown-option">Brown</ion-select-option>
            <ion-select-option value="blonde">Blonde</ion-select-option>
            <ion-select-option value="black">Black</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item id="open-modal">
          <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
          <ion-label>Pick a date</ion-label>
          <ion-text slot="end">{{formattedDate}}</ion-text>
        </ion-item>

        <ion-modal trigger="open-modal">
          <ng-template>
            <ion-content>
              <ion-datetime #datetime size="cover" [value]="dateValue" (ionChange)="dateChanged(datetime.value)"(ionCancel)="showPicker = false">
                <ion-buttons slot="buttons">
                  <ion-button (click)="close()">Dismiss</ion-button>
                  <ion-button (click)="select()" color="primary">Select</ion-button>
                </ion-buttons>
              </ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-item>
          <ion-label position="floating">Max Available Places</ion-label>
          <ion-input type="number" value=""></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button color="light" size="full">Create Trip</ion-button>
  </form>
</ion-content>
