ion-content {
    --background: url(http://placekitten.com/g/200/300) no-repeat top center/cover fixed, #fff;
    position: absolute;
    height: 100%;
    width: 100%;
}

ion-toolbar {
    --background: transparent;
}

.card {
    margin: 0 auto;

    .header {
        height: 200px;

        ion-avatar {
            width: 160px;
            height: 160px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px));
                border: 8px solid #9Dc912;
                background-color: #fff;
            }
        }
    }
}

.card-body {
    background-color: darkslategray;
    padding: 30px;
    height: calc(100vh - (200px + 56px));
    overflow: hidden;

    .user-meta {
        padding-top: 20px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }
    }

    .settings {
        ion-item {
            padding: 5px 10px;
        }
    }
}

ion-modal {
    --background: rgba(44, 39, 45, 0.2);
  
    &::part(content) {
      backdrop-filter: blur(6px);
    }
  
    ion-content {
      --background: transparent;
  
      --padding-top: 25vh;
      --padding-start: 20px;
      --padding-end: 20px;
    }
  }