<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs" text=""></ion-back-button>
      <ion-label>{{ 'tab3.backButton' | translate }}</ion-label>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <app-sign-out-button slot="end"></app-sign-out-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content fullscreen="true" slot="fixed" >
    <div class="card">
      <div class="header">
        <ion-avatar (click)="fileInput.click()">
          <img src="{{img}}">
        </ion-avatar>
        <ion-icon name="camera-outline" size="large" (click)="fileInput.click()"></ion-icon>
      </div>
    </div>

    <input
      style="display: none"
      type="file" (change)="changeProfilePic($event)"
      #fileInput>

    <div class="card-body">
      <div class="user-meta ion-text-center">
        <ion-chip  color="secondary" outline="true" (click)="goToEditPage()">
          <ion-label color="dark">{{ 'tab3.editProfile' | translate }}</ion-label>
        </ion-chip>


        <h3 class="playername">{{userName}}</h3>
        <h6 class="ranking">{{ 'tab3.myTrips' | translate }}: <ion-chip>
          <ion-label>{{nrOfTrips}}</ion-label>
          </ion-chip>
        </h6>

        
      </div>

      <div class="settings">
        <h3 class="Settings">{{ 'tab3.settings' | translate }}</h3>
        <ion-item button (click)="goToChangeLanguagePage()" detail>
          <ion-label>
            {{ 'tab3.changeLanguage' | translate }}
          </ion-label>
        </ion-item>

        <ion-item button (click)="goToDisplayPage()" detail>
          <ion-label>
            {{ 'tab3.display' | translate }}
          </ion-label>
        </ion-item>

        <ion-item button (click)="presentModal()" detail>
          <ion-label>
            {{ 'tab3.changePassword' | translate }}
          </ion-label>
        </ion-item>


      </div>
    </div>
  </ion-content>
</ion-content>
