<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'tab2.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="createTripForm.getForm()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'tab2.form' | translate }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <ion-item>
          <ion-label>{{ 'tab2.from' | translate }}</ion-label>
          <ion-input type="text" value="" formControlName="from"></ion-input>
        </ion-item>
        <app-error-message message="From is mandatory" [field]="createTripForm.getForm().get('from')" error="required"></app-error-message>
        <app-error-message message="The departure city and destination must be different" [field]="createTripForm.getForm().get('from')" error="isntMatching"></app-error-message>

        <ion-item>
          <ion-label>{{ 'tab2.to' | translate }}</ion-label>
          <ion-input type="text" value="" formControlName="to"></ion-input>
        </ion-item>
        <app-error-message message="To is mandatory" [field]="createTripForm.getForm().get('to')" error="required"></app-error-message>
        <app-error-message message="The departure city and destination must be different" [field]="createTripForm.getForm().get('to')" error="isntMatching"></app-error-message> -->

        
        <ion-item>
          <div>
            <div (click)="showMap()">
              <ion-label>{{ 'tab2.from' | translate }}</ion-label>
              <ion-input type="text" value="" #autocompleteFrom formControlName="from"></ion-input>
              <ion-label>{{ 'tab2.to' | translate }}</ion-label>
              <ion-input type="text" value="" #autocompleteTo formControlName="to"></ion-input>
            </div>
          
            <div [hidden]=showMapFlag>
              <ion-item>
                <capacitor-google-maps #map></capacitor-google-maps>
              </ion-item>
  
              <ion-button color="primary" (click)="hideMap()">{{ 'tab2.closeMap' | translate }}</ion-button>
            </div>
          </div>
        </ion-item>


        <ion-item id="open-modal">
          <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
          <ion-label>{{ 'tab2.pickDate' | translate }}</ion-label>
          <ion-text slot="end">{{formattedDate}}</ion-text>
        </ion-item>
        <app-error-message message="Picking a date is mandatory" [field]="createTripForm.getForm().get('time')" error="required"></app-error-message>

        <ion-modal trigger="open-modal">
          <ng-template>
            <ion-content>
              <ion-datetime [min]="date" formControlName="time" #datetime size="cover" [value]="dateValue" (ionChange)="dateChanged(datetime.value)"(ionCancel)="showPicker = false">
                <ion-buttons slot="buttons">
                  <ion-button (click)="close()">{{ 'tab2.dismiss' | translate }}</ion-button>
                  <ion-button (click)="select()" color="primary">{{ 'tab2.select' | translate }}</ion-button>
                </ion-buttons>
              </ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-item formGroupName="duration">
          <ion-label position="floating">{{ 'tab2.approxDuration' | translate }}</ion-label>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label position="floating">{{ 'tab2.hours' | translate }}</ion-label>
                <ion-input type="number" value="" formControlName="hours"></ion-input>
              </ion-col>
              <ion-col>
                <ion-label position="floating">{{ 'tab2.minutes' | translate }}</ion-label>
                <ion-input type="number" value="" formControlName="minutes"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{ 'tab2.maxAvailablePlaces' | translate }}</ion-label>
          <ion-input type="number" value="" formControlName="availablePlaces"></ion-input>
        </ion-item>
        <app-error-message message="Max available places is mandatory" [field]="createTripForm.getForm().get('availablePlaces')" error="required"></app-error-message>

      </ion-card-content>
    </ion-card>

    <ion-button color="light" size="full" (click)="createTrip()">{{ 'tab2.createButton' | translate }}</ion-button>
  </form>
</ion-content>