<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'registerForm.editProfileTitle' | translate }}</ion-title>

    <ion-button slot="end" size="small" (click)="editProfile()">{{ 'registerForm.save' | translate }}</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editProfilePageForm.getForm()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'registerForm.contactTitle' | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">{{ 'registerForm.name' | translate }}</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <app-error-message message="Name is mandatory" [field]="editProfilePageForm.getForm().get('name')" error="required"></app-error-message>

        <ion-item>
          <ion-label position="floating">{{ 'registerForm.email' | translate }}</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <app-error-message message="Email is mandatory" [field]="editProfilePageForm.getForm().get('email')" error="required"></app-error-message>
        <app-error-message message="Email is invalid" [field]="editProfilePageForm.getForm().get('email')" error="email"></app-error-message>

        <ion-item>
          <ion-label position="floating">{{ 'registerForm.phoneNumber' | translate }}</ion-label>
          <ion-input type="tel"formControlName="phone"></ion-input>
        </ion-item>
        <app-error-message message="Phone number is mandatory" [field]="editProfilePageForm.getForm().get('phone')" error="required"></app-error-message>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'registerForm.addressTitle' | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content formGroupName="address">
        <ion-item>
          <ion-label position="floating">{{ 'registerForm.street' | translate }}</ion-label>
          <ion-input type="text" formControlName="address"></ion-input>
        </ion-item>
        <app-error-message message="Street is mandatory" [field]="editProfilePageForm.getForm().get('address').get('address')" error="required"></app-error-message>

        <ion-item>
          <ion-label position="floating">{{ 'registerForm.number' | translate }}</ion-label>
          <ion-input type="tel" formControlName="number"></ion-input>
        </ion-item>
        <app-error-message message="Number is mandatory" [field]="editProfilePageForm.getForm().get('address').get('number')" error="required"></app-error-message>

        <ion-item>
          <ion-label position="floating">{{ 'registerForm.zipCode' | translate }}</ion-label>
          <ion-input type="tel" formControlName="zip"></ion-input>
        </ion-item>
        <app-error-message message="Zip code is mandatory" [field]="editProfilePageForm.getForm().get('address').get('zip')" error="required"></app-error-message>

        <ion-item>
          <ion-label position="floating">{{ 'registerForm.state' | translate }}</ion-label>
          <ion-input type="text" formControlName="state"></ion-input>
        </ion-item>
        <app-error-message message="State is mandatory" [field]="editProfilePageForm.getForm().get('address').get('state')" error="required"></app-error-message>

        <ion-item>
          <ion-label position="floating">{{ 'registerForm.city' | translate }}</ion-label>
          <ion-input type="text" formControlName="city"></ion-input>
        </ion-item>
        <app-error-message message="City is mandatory" [field]="editProfilePageForm.getForm().get('address').get('city')" error="required"></app-error-message>

      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
