<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'changeLanguage.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p translate [translateParams]="{ lang: language }">changeLanguage.invite</p>
      <ion-item>
        <ion-label translate>{{ 'changeLanguage.language' | translate }}</ion-label>
        <ion-select [(ngModel)]='language' (ionChange)='languageChange()' [placeholder]='"changeLanguage.languageChangePlaceholder" | translate'>
          <ion-select-option value='al'>Albanian</ion-select-option>
          <ion-select-option value='en'>English</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
