<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'trip.title' | translate }}</ion-title>
    <app-book-button slot="end" [trip]="trip" [booked]="showBookButton"></app-book-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button fill="outline" color="danger" (click)="deleteTrip()" *ngIf="editable">{{ 'trip.delete' | translate }}</ion-button>
  <ion-item id="timeAndOwnerOfTrip">
    <ion-text>{{ 'trip.owner' | translate }}: </ion-text>
    <ion-chip slot="" (click)="goToUserProfile()">
      <!-- <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar> -->
      <ion-label>{{username}}</ion-label>
    </ion-chip>

  </ion-item>

    <h2><ion-icon name="disc-sharp"></ion-icon> <ion-text>13:30</ion-text> {{trip.from}} </h2>
    <h2><ion-icon name="ellipsis-vertical-sharp"></ion-icon></h2>
    <!-- <h2><ion-icon name="arrow-forward-outline"></ion-icon></h2> -->
    <h2><ion-icon name="location-sharp"></ion-icon> <ion-text>15:30</ion-text> {{trip.to}} </h2>

    <br>
      
    <ion-item>
      <ion-icon name="time-sharp" slot="end"></ion-icon><ion-text>1h 30mins</ion-text>
    </ion-item>

    <br>

    <ion-button expand="block" fill="outline" (click)="goToChatPage()">{{ 'trip.openChat' | translate }}</ion-button>
    <br>
    <h6>{{ 'trip.availablePlaces' | translate }}: <ion-badge color="danger"> {{trip.availablePlaces}} </ion-badge></h6>

    <br>
    <h6>{{ 'trip.bookedBy' | translate }}:</h6>

    <ion-list>
      <ion-item *ngFor="let bookedUser of bookedUsers">
        <ion-label>{{bookedUser.name}}</ion-label>
      </ion-item>
    </ion-list>
      

</ion-content>
