<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'trip.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>

    <div *ngIf="editable; else elseBlock">
      <ion-button fill="outline" slot="start" color="danger" (click)="deleteTrip()">{{ 'trip.delete' | translate }}</ion-button>
      <ion-button slot="end" (click)="completeTrip()">{{ 'trip.complete' | translate }}</ion-button>
    </div>

    <ng-template #elseBlock *ngif="!trip.completed">
      <div class='center-button'>
        <app-book-button [trip]="trip" [booked]="showBookButton"></app-book-button>
      </div>
    </ng-template>

  </ion-item>
  
  <ion-item id="timeAndOwnerOfTrip">
    <div class='center-button'>
      <ion-text>{{ 'trip.owner' | translate }}: </ion-text>
      <ion-chip slot="" (click)="goToUserProfile()">
        <ion-label>{{username}}</ion-label>
      </ion-chip>
    </div>
  </ion-item>

    <h2><ion-icon name="disc-sharp"></ion-icon> <ion-text class="timeText">{{formattedHour}}</ion-text> {{trip.from}} </h2>
    <h2><ion-icon name="ellipsis-vertical-sharp"></ion-icon></h2>
    <!-- <h2><ion-icon name="arrow-forward-outline"></ion-icon></h2> -->
    <h2><ion-icon name="location-sharp"></ion-icon> <ion-text class="timeText">{{formattedHourReach}}</ion-text> {{trip.to}} </h2>

    <ion-item>
      <div class='center-button'>
        <ion-label>{{ 'trip.showHideMap' | translate }}</ion-label>
        <ion-toggle slot="end" (click)="triggerMap()"></ion-toggle>
      </div>
    </ion-item>

    <div [hidden]=showMap>
      <capacitor-google-maps #map></capacitor-google-maps>
    </div>
      
    <ion-item>
      <ion-icon name="time-sharp" slot="start"></ion-icon>
      <ion-text>{{trip.duration.hours}}h {{trip.duration.minutes}}mins</ion-text>
    </ion-item>

    <ion-item>
      <div class='center-button'>
        <ion-button size="medium" fill="outline" (click)="goToChatPage()">{{ 'trip.openChat' | translate }}</ion-button>
      </div>
    </ion-item>

    <br>
    <h6 style="text-align:center">{{ 'trip.availablePlaces' | translate }}: <ion-badge color="danger"> {{trip.availablePlaces}} </ion-badge></h6>

    <br>
    <h6>{{ 'trip.bookedBy' | translate }}:</h6>

    <ion-list>
      <ion-item *ngFor="let bookedUser of bookedUsers">
        <ion-label>{{bookedUser.name}}</ion-label>
      </ion-item>
    </ion-list>
      

</ion-content>
