<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'tab1.title' | translate }}
    </ion-title>
    <!-- <ion-button slot="end" (click)="triggerMyTrips()">{{ 'tab1.myTrips' | translate }}</ion-button> -->
    <ion-toggle mode="md" slot="end" class="icon-toggle" (click)="triggerMyTrips()"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div #tripsContainer>
  </div>
</ion-content>
